<section class="hero column align-center">
  <h2 class="text-center">Fuel your coffee craving and share your favorite brews with our community!</h2>
  <button id="shop-view-btn">Check Out Our Shops Now!</button>
</section>