<section class="shops">
  <h2 class="text-center">Our Shops</h2>

  {{#each shops}}
    <div class="shop">
      <h3>{{name}}</h3>
      <p>Location: {{location}}</p>
    </div>
  {{/each}}
</section>